@import "shared/assets/fonts/styles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F9F9F9;
  --swiper-bg: #F1F1F1;
  --gray: #484848;
  --light-gray: #CBCBCB;
  --title-gray: #C5C5C5;
  --description-blue: #94A3B8;
  --menu-text-gray: #606060;
  --dark: #141416;
  --dark-btn-hover: #222222;
  --light-button-hover: #D7D7D7;
  --medium-button-hover: #C3C3C3;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a,
button {
  cursor: pointer;
}

input, textarea {
  outline: none;
}

textarea {
  transition-property: none;
}

path {
  outline: none;
}

@media (min-width: 1920px) {
  .max-w-limitation {
    max-width: 1480px;
  }
}

@media (min-width: 2480px) {
  .max-w-limitation {
    max-width: 1560px;
  }
}